#main {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0);
}
#container {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
#container > button {
  font-size: 100%;
  padding: 0.4em;
  margin: 1em 1em 1em 1em;
  background-color: silver;
}
#container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#containerSub {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border: 1px dotted blue;
}
#containerSub > div {
  text-wrap: pretty;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#qr {
  display: block;
  margin: 0 auto;
  padding: 0;
  min-width: 50vw;
  min-height: 50vh;
}
#url {
  padding: 1em;
}
#status {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}
.connected {
  background-color: orange;
  opacity: 0.5;
}
.paired {
  background-color: green;
  opacity: 0.5;
}
#background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
}
.fullscreen-video-container {
  z-index: -1;
  top: 0;
  left: 0;
  height: 100vh;
  overflow: hidden;
}
#pro-logo {
  display: block;
  position: fixed;
  top: 2em;
  left: 2em;
}
.logo {
  width: 100px;
  height: 100px;
  z-index: 1000;
}
#change-mode {
  display: block;
  position: fixed;
  top: 0.1em;
  right: 0.1em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 200%;
  background-color: rgba(200, 200, 200, 0.3);
  padding: 1em;
  display: none;
}
#notif {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: none;
  z-index: 10;
  text-align: center;
  padding: 1em;
}
#pro-table {
  display: inline-block;
}
#pro-table table {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}
#pro-table table td {
  border: 1px solid black;
  padding: 10px;
}
#pro-table table th {
  border: 1px solid black;
  padding: 10px;
}
#pro-table table tr {
  border: 1px solid black;
}
#pro-table table tr:nth-child(even) {
  background-color: #f2f2f2;
}
#pro-table table tr:hover {
  background-color: #f1f1f1;
}
#pro-table table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}
@media (orientation: landscape) {
  #container {
    margin-left: 2em;
  }
  #container > button {
    width: calc(100% - 4em);
  }
  #container > div {
    flex-direction: row;
  }
  #containerSub {
    flex-direction: row;
  }
  #qr {
    height: 100%;
  }
  #status {
    bottom: 0;
    width: 1em;
  }
}

@media (orientation: portrait) {
  #container {
    margin-top: 2em;
  }
  #container > button {
    width: calc(100% - 3em);
  }
  #container > div {
    flex-direction: column;
  }
  #containerSub {
    flex-direction: column;
  }
  #qr {
    width: 100%;
  }
  #status {
    right: 0;
    height: 1em;
  }
}
